@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
.productos-contenedor-guitarras div p a, .productos-contenedor-teclados div p a, .productos-contenedor-percusion div p a {
  text-decoration: none;
  color: #ffffff;
  background-color: #B5C18E;
  font-size: 12px;
  padding: 8px; }

.footer-contacto, .footer-instrumentos {
  display: flex;
  justify-content: space-around;
  background-color: #F7DCB9;
  margin: 0;
  bottom: 0; }

/**!---RESET--- **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/**!---BODY---**/
body {
  font-family: "Lato", sans-serif;
  background-color: white; }

/*?--Header--*/
header {
  background-color: #F7DCB9;
  color: #000000;
  padding: 10px;
  display: flex;
  justify-content: space-around; }
  header h1 {
    color: #000000;
    font-size: 40px; }
  header a {
    text-decoration: none;
    color: #000000; }

.fondo-navbar {
  background-color: #F7DCB9; }

.dropdown-menu {
  background-color: #F7DCB9 !important;
  --bs-dropdown-link-hover-bg: #DEAC80 !important; }

.carousel-caption h2 {
  font-size: 45px; }

.carousel-caption h3 {
  font-size: 25px;
  color: #B5C18E; }

.productos {
  width: auto;
  text-align: center;
  align-items: center;
  height: auto; }

.productos h2 {
  background-color: #F7DCB9;
  color: #000000;
  padding: 20px; }

.productos-contenedor {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-wrap: wrap; }
  .productos-contenedor div {
    margin: 20px;
    border: 2px solid rgba(0, 0, 0, 0.425);
    width: 350px;
    height: 500px;
    background-color: #ffffff;
    text-align: center; }
    .productos-contenedor div h3 {
      margin: 15px; }
    .productos-contenedor div img {
      width: 100%;
      height: 400px;
      object-fit: cover; }
    .productos-contenedor div p a {
      text-decoration: none;
      color: #ffffff;
      background-color: #B5C18E;
      padding: 8px; }
      .productos-contenedor div p ahover {
        color: #6295A2;
        transition: all .1s; }

.catalogo {
  text-align: center; }
  .catalogo h2 {
    background-color: #DEAC80;
    color: #000000;
    padding: 20px; }

.contenedor-grilla {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 400px;
  gap: 15px;
  margin: 10px;
  object-fit: cover; }
  .contenedor-grilla div {
    position: relative; }
    .contenedor-grilla div img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .contenedor-grilla div h3 {
      position: absolute;
      bottom: 0;
      background-color: #B5C18E;
      color: white;
      width: 100%; }

.img-1 {
  grid-column: span 3; }

.img-2 {
  grid-column: span 2; }

.img-3 {
  grid-row: span 2; }

.img-4 {
  grid-row: span 2; }

.img-6 {
  grid-column: span 2; }

.ir-arriba {
  position: fixed;
  bottom: 50px;
  right: 50px; }

.formulario {
  margin: 20px; }

/**?---Pagina guitarras y bajos---**/
.contenedor-grilla-guitarras-bajos {
  display: grid;
  grid-template-areas: "menu productos productos" "menu productos productos" "menu productos productos" "menu productos productos" "menu productos productos" "menu productos productos";
  grid-template-columns: 150px;
  grid-auto-rows: auto; }

.menu-productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: menu;
  background-color: #DEAC80;
  height: auto; }
  .menu-productos nav ul li a {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    color: #000000;
    width: 100%;
    padding: 6px 10px; }

.bg-body-tertiary {
  background-color: #DEAC80 !important; }

.sidebar-logo a {
  text-decoration: none;
  color: aliceblue; }

.sidebar-item {
  text-decoration: none;
  list-style: none; }

.sidebar-footer a {
  text-decoration: none;
  color: aliceblue; }

.productos-contenedor-guitarras {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-wrap: wrap;
  grid-area: productos; }
  .productos-contenedor-guitarras div {
    margin: 20px;
    border: 2px solid black;
    width: 250px;
    height: 350px;
    background-color: #ffffff;
    text-align: center; }
    .productos-contenedor-guitarras div h3 {
      margin: 15px;
      font-size: 15px; }
    .productos-contenedor-guitarras div img {
      width: 100%;
      height: 250px; }

/*!---Página teclados---*/
.contenedor-grilla-teclados {
  display: grid;
  grid-template-areas: "menu productos productos" "menu productos productos" "menu productos productos" "menu productos productos" "menu productos productos" "menu productos productos";
  grid-template-columns: 150px;
  grid-auto-rows: auto; }

.menu-productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: menu;
  background-color: #DEAC80;
  height: auto; }
  .menu-productos nav ul li a {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    color: #000000;
    width: 100%;
    padding: 6px 10px; }

.bg-body-tertiary {
  background-color: #DEAC80 !important; }

.sidebar-logo a {
  text-decoration: none;
  color: aliceblue; }

.sidebar-item {
  text-decoration: none;
  list-style: none; }

.sidebar-footer a {
  text-decoration: none;
  color: aliceblue; }

.productos-contenedor-teclados {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-wrap: wrap;
  grid-area: productos; }
  .productos-contenedor-teclados div {
    margin: 20px;
    border: 2px solid black;
    width: 250px;
    height: 350px;
    background-color: #ffffff;
    text-align: center; }
    .productos-contenedor-teclados div h3 {
      margin: 15px;
      font-size: 15px; }
    .productos-contenedor-teclados div img {
      width: 100%;
      height: 250px; }

/*---Pagina percusion---*/
.contenedor-grilla-percusion {
  display: grid;
  grid-template-areas: "menu productos productos" "menu productos productos" "menu productos productos" "menu productos productos" "menu productos productos" "menu productos productos";
  grid-template-columns: 150px;
  grid-auto-rows: auto; }

.menu-productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: menu;
  background-color: #DEAC80;
  height: auto; }
  .menu-productos nav ul li a {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    color: #000000;
    width: 100%;
    padding: 6px 10px; }

.bg-body-tertiary {
  background-color: #DEAC80 !important; }

.sidebar-logo a {
  text-decoration: none;
  color: aliceblue; }

.sidebar-item {
  text-decoration: none;
  list-style: none; }

.sidebar-footer a {
  text-decoration: none;
  color: aliceblue; }

.productos-contenedor-percusion {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-wrap: wrap;
  grid-area: productos; }
  .productos-contenedor-percusion div {
    margin: 20px;
    border: 2px solid black;
    width: 250px;
    height: 350px;
    background-color: #ffffff;
    text-align: center; }
    .productos-contenedor-percusion div h3 {
      margin: 15px;
      font-size: 15px; }
    .productos-contenedor-percusion div img {
      width: 100%;
      height: 250px; }

/*?---Pagina contacto---*/
.hero-contacto {
  display: flex;
  flex-direction: column;
  background-color: #E5E1DA;
  width: auto;
  text-align: center;
  align-items: center;
  height: calc(100vh - 76px);
  margin: 0; }
  .hero-contacto h2 {
    color: #000000;
    font-size: 30px;
    margin-bottom: 0;
    margin: 20px; }
  .hero-contacto div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px; }
    .hero-contacto div form {
      display: flex;
      flex-direction: row; }

.informacion-msg {
  height: 533px; }
  .informacion-msg div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .informacion-msg div h3 {
      background-color: #F7DCB9;
      font-size: 30px;
      padding: 20px; }
    .informacion-msg div div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 20px; }
      .informacion-msg div div img {
        width: 350px;
        height: 350px; }
      .informacion-msg div div p {
        width: 45%;
        font-size: 16px;
        background-color: #B5C18E;
        padding: 20px; }

/**!---FOOTER---**/
footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  background-color: #F7DCB9; }
  footer h3 {
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin: 10px; }
  footer .footer-contenedor-iconos {
    width: 50%;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: center; }
    footer .footer-contenedor-iconos .iconos {
      justify-content: center; }
    footer .footer-contenedor-iconos a img {
      width: 35px; }

.icono {
  width: 50%; }

.map {
  margin: 15px;
  width: 100%; }

@media screen and (max-width: 838px) {
  .hero div h2 {
    font-size: 30px; } }

@media screen and (max-width: 869px) {
  header {
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 647px) {
  .navegacion ul {
    flex-direction: column; }
  .navegacion ul li a {
    padding: 5px 10px; } }

@media screen and (max-width: 607px) {
  .hero {
    align-items: center; }
  .hero-titulo {
    display: none; }
  .hero-titulo2 {
    display: inline-block;
    margin: 15px;
    font-size: 40px;
    border: 3px, solid, black;
    padding: 10px; } }

@media screen and (max-width: 542px) {
  .productos-contenedor-guitarras div {
    width: 150px;
    height: 200px; }
  .productos-contenedor-guitarras div h3 {
    font-size: 10px; }
  .productos-contenedor-guitarras div img {
    height: 150px; }
  .contenedor-grilla-guitarras-bajos {
    grid-template-columns: 125px; } }

@media screen and (max-width: 435px) {
  footer h3 {
    font-size: 28px; }
  .footer-contenedor-iconos h5 {
    font-size: 15px; }
  .productos-contenedor div {
    height: 350px; }
  .productos-contenedor div img {
    height: 250px; }
  .guitarra-producto {
    object-fit: cover; } }
