
.carousel-caption h2{
    font-size: 45px;
}
.carousel-caption h3{
    font-size: 25px;
    color: #B5C18E;
}
.productos{
    width: auto;
    text-align: center;
    align-items: center;
    height: auto
}
.productos h2{
    background-color: $color-primario;
    color: #000000;
    padding: 20px;
}
.productos-contenedor{
    @include flex(flex, center, end);
    flex-wrap: wrap;
    div{
        margin: 20px;
        border: 2px solid rgba(0, 0, 0, 0.425);
        width: 350px;
        height: 500px;
        background-color: #ffffff;
        text-align: center;
        h3{
            margin: 15px;
        }
        img{
            width: 100%;
            height: 400px;
            object-fit: cover;
        }
        p{
            a{
                text-decoration: none;
                color: #ffffff;
                background-color: #B5C18E;
                padding: 8px;
                &hover{
                    color: #6295A2;
                    transition: all .1s;
                }
            }
        }
    }
}
.catalogo{
    text-align: center;
    h2{
        background-color: $color-secundario;
        color: #000000;
        padding: 20px;
    }
}
.contenedor-grilla{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px;
    gap: 15px;
    margin: 10px;
    object-fit: cover;
    div{
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        h3{
            position: absolute;
            bottom: 0;
            background-color: #B5C18E;
            color: white;
            width: 100%;
        }
    }
}
.img-1{
    grid-column: span 3;
}
.img-2{
    grid-column: span 2;
}
.img-3{
    grid-row: span 2;
}
.img-4{
    grid-row: span 2;
}
.img-6{
    grid-column: span 2;
}

/**?---Pagina guitarras y bajos---**/
.contenedor-grilla-guitarras-bajos{
    @extend %contenedor-grilla-instrumentos
}
.menu-productos{
    @include flex(flex, center, center);
    @extend %menu-productos
}
.bg-body-tertiary{
    background-color: #DEAC80 !important;
}
.sidebar-logo{
    a{
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
}
.sidebar-item{
    text-decoration: none;
    list-style: none;
}
.sidebar-footer{
    a{

        span{
            text-decoration: none;
            margin-left: 10px;
            color: rgb(0, 0, 0);
        }
    }
}
.productos-contenedor-guitarras{
    @include flex(flex, center, end);
    @extend %productos
}
/*!---Página teclados---*/

.contenedor-grilla-teclados{
    @extend %contenedor-grilla-instrumentos
}
.menu-productos{
    @include flex(flex, center, center);
    @extend %menu-productos
}
.bg-body-tertiary{
    background-color: #DEAC80 !important;
}
.sidebar-logo{
    a{
        text-decoration: none;
        color: aliceblue;
    }
}
.sidebar-item{
    text-decoration: none;
    list-style: none;
}
.sidebar-footer{
    a{
        text-decoration: none;
        color: aliceblue;
    }
}
.productos-contenedor-teclados{
    @include flex(flex, center, center);
    @extend %productos
}
/*---Pagina percusion---*/

.contenedor-grilla-percusion{
    @extend %contenedor-grilla-instrumentos
}
.menu-productos{
    @include flex(flex, start, center);
    @extend %menu-productos
}
.bg-body-tertiary{
    background-color: #DEAC80 !important;
}
.sidebar-logo{
    a{
        text-decoration: none;
        color: aliceblue;
    }
}
.sidebar-item{
    text-decoration: none;
    list-style: none;
}
.sidebar-footer{
    a{
        text-decoration: none;
        color: aliceblue;
    }
}
.productos-contenedor-percusion{
    @include flex(flex, center, end);
    @extend %productos
}

/*?---Pagina contacto---*/
.hero-contacto{
    background: url('../img/hero-contacto.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 76px);
    @include flex(flex, center, end);
    flex-direction: column;
    border-bottom: 40px solid $color-primario;
    h2{
        margin-right: 25px;
    }
    h3{
        margin-right: 25px;
    }
}
.contenedor-grilla-formulario{
    display: grid;
    grid-template-areas: 
    "formulario formulario"
    "formulario formulario"
    "faside faside"
    "faside faside";
    grid-template-columns: 50%;
    grid-auto-rows: auto;
    height: auto
}
.contenedor-formulario{
    grid-area: formulario;
    @include flex(flex, center, center);
    form{
        padding: 50px;
        box-shadow: 0 0 15px #000000;
        border-radius: 20px;
        text-align: center;
        margin: 20px;
        height: 650px;
        div{
            display: flex;
            flex-direction: column;
            text-align: left;
            label{
                margin-top: 15px;
                margin-bottom: 15px;
            }
            input{
                padding: 15px 20px;
                border-radius: 25px;
                background-color: white;
                border: 2px solid $color-secundario;
            }
            textarea{
                padding: 17px 25px;
                border-radius: 25px;
                background-color: white;
                border: 2px solid $color-secundario;
            }
        }
    }
}
.contenedor-formulario-aside{
    grid-area: faside;
    @include flex(flex, center, center);
    flex-direction: column;
    text-align: center;
    div{
        box-shadow: 0 0 15px black;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 500px;
        p{
            padding: 10px;
        }
        .form-cont{
            font-size: 25px;
        }
    }
    h2{
        margin-top: 15px;
        margin-bottom: 15px;
        background-color: $color-primario;
        padding: 20px;
        width: 100%;
    }
}

/**!-- Pagina servicios--**/

.hero-servicios{
    background: url('../img/hero-servicios.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 76px);
    @include flex(flex, center, start);
    flex-direction: column;
    border-bottom: 40px solid $color-primario;
    h2{
        font-size: 40px;
        margin: 75px;
        padding: 25px;
        color: $color-primario;
        border: 2px solid $color-primario;
    }
}
.servicios-navbar{
    @include flex(flex, space-between, center);
    flex-wrap: wrap;
    a{
        margin: 15px;
        text-decoration: none;
        color: #000000;
        border-radius: 25px;
        box-shadow: 0 0 20px black;
        padding: 20px;
        background-color: $color-secundario;
        transition: 2s;
        &:hover{
            h3{
                color: #6295A2;
            }
        }
        h3{
            font-size: 25px;
        }
    }
}
.contenedor-flex-servicios{
    @include flex(flex, space-around, center);
    flex-direction: row;
    flex-wrap: wrap;
    object-fit: cover;
    div{
        @include flex(flex, center, center);
        flex-direction: column;
        text-align: center;
        width: 400px;
        height: 550px;
        margin: 20px;
        border: 2px solid $color-primario;
        box-shadow: 0 0 20px black;
        h3{
            font-size: 21px;
        }
        p{
            margin: 10px;
            a{
                background-color: #deac807b;
                padding: 10px;
                color: #000000;
                text-decoration: none;
                text-align: center;
                &:hover{
                    color: #6295A2;
                }
            }
        }
        img{
            width: 100%;
            height: 236px;
            object-fit: cover;
        }
        ul{
            display: flex;
            flex-direction: row;
            li{
                list-style-type: none;
                margin: 5px;
                a{
                    color: #000000;
                    text-decoration: none;
                    text-align: center;
                    &:hover{
                        color: #6295A2;
                    }
                }
            }
        }
}
}