@media screen and (max-width:838px){
    .hero div h2{
        font-size: 30px;
    }
}
@media screen and (max-width:869px){
    header{
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width:647px){
    .navegacion ul{
        flex-direction: column;
    }
    .navegacion ul li a{
        padding: 5px 10px;
    }
    }

@media screen and (max-width:607px){
    .hero{
        align-items: center;
    }
    .hero-titulo{
        display: none;
    }
    .hero-titulo2{
        display: inline-block;
        margin: 15px;
        font-size: 40px;
        border: 3px, solid, black;
        padding: 10px;
    }
}
@media screen and (max-width:542px){
    .productos-contenedor-guitarras div{
        width: 150px;
        height: 200px;
    }
    .productos-contenedor-guitarras div h3{
        font-size: 10px;
    }
    .productos-contenedor-guitarras div img{
        height: 150px;
    }
    .contenedor-grilla-guitarras-bajos{
        grid-template-columns: 125px;
    }
}
@media screen and (max-width:435px){
    footer h3{
        font-size: 28px;
    }
    .footer-contenedor-iconos h5{
        font-size: 15px;
    }
    .productos-contenedor div{
        height: 350px;
    }
    .productos-contenedor div img{
        height: 250px;
    }
    .guitarra-producto{
        object-fit: cover;
    }
}
